################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/FactoryMethod/FactoryMethod/.vs/FactoryMethod/v16/Browse.VC.opendb
